
.card{
    height: 350px;
    width: 335px;
    padding: 20px 35px;
	background-image: linear-gradient(to bottom left, rgb(119, 135, 182), rgb(170, 179, 214));
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    position: relative;
}

.card i{
    font-size:50px ;
    display: block;
    text-align: center;
    margin: 15px 0px;
    color: gray;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.pra p{
    color:rgb(80, 80, 80) ;
    font-size: 16px;
    line-height: 27px;

}

.card .button{
    background-color:white ;
    color: grey;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
    position: absolute;
    bottom: 20%; /* Set the button's position 10% from the bottom */
    left: 50%; /* Horizontally center the button */
    transform: translateX(-50%); /* Adjust for centering */
}
.card .button:hover{
    background-color: transparent;
    border-color: white;
    color: white;
    cursor: pointer;  
}  