/* Footer Styles */
footer {
    background-color: #121315;
    color: #a7a7a7;
    font-size: 16px;
    padding: 2em 0;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 1em;
}

.column {
    width: calc(33.33% - 2em);
    padding: 0 1em;
    margin-bottom: 2em;
}

.column h3 {
    color: #ffffff;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.column p {
    color: #a7a7a7;
    line-height: 1.5;
}

.social {
    display: flex;
    margin-top: 1em;
}

.social i {
    color: #bac6d9;
    font-size: 1.5em;
    margin-right: 1em;
    transition: color 0.3s;
}

.social i:hover {
    color: #2a8ded;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 1em;
}

ul li a {
    color: #a7a7a7;
    text-decoration: none;
    transition: color 0.3s;
}

ul li a:hover {
    color: #2a8ded;
}

.subscribe input
 {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
}


.subscribe button{
    width: 85%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 1em;
}

.subscribe button {
    background-color: #2a8ded;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s, padding 0.3s;
}

.subscribe button:hover {
    background-color: #1e6fbf;
}

.footer-menu {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.footer-menu a {
    color: #cfd2d6;
    text-decoration: none;
    margin: 0 0.5em;
    transition: color 0.3s;
}

.footer-menu a:hover {
    color: #27bcda;
}

.copyright {
    padding: 1em;
    background-color: #25262e;
    color: #cfd2d6;
    text-align: center;
    font-size: 0.9em;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    .column {
        width: 100%;
    }
}
