.navbar-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border-radius: 5px;
}

.navbar-links-item {
	float: right;
}

.navbar-links-item:last-child {
	border-left: none;
}

.navbar-links-item a {
	font-family: 'Josefin Sans',sans-serif;
	display: block;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.navbar-links-item :hover{
	color:linear-gradient(to bottom left, #006ebe, #62b7df);
	color:	#006ebe;
	transition: 4s;
}
.navbar-links-logo a{
	color: white;
}
/*.navbar-links-item a:hover:not(.active) {
	color: #111;
}*/

.navbar-links-item .active {
	background-color: transparent;
}
