* {
	box-sizing: border-box;

}
.about {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
}

.about-header {
	height: 250px;
}

.about-header-navbar {
	position: absolute;
	right: 2%;
	left: 2%;
	top: 2%;
}

.about-header-image-container {
	position: absolute;
	height: 250px;
	width: 100%;
	overflow: hidden;
	z-index: -1;
}

.about-header-image {
	width: 100%;
}

.about-body {
	padding: 70px;
}

.about-card-container {
	padding-bottom: 20px;
}

.about-container {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
}

.about-heading {
	font-size: 28px;
	margin-bottom: 20px;
}

.about-content {
	display: flex;
	justify-content: space-between;
}

.vision {
	flex: 1;
	margin-right: 20px;
}

.services {
	flex: 1;
}

h2 {
	font-size: 24px;
	margin-bottom: 10px;
}

p {
	line-height: 1.5;
}

ul {
	list-style-type: disc;
	margin-left: 20px;
}


.column {
	float: left;
	width: 33.33%; /* Adjust the width to fit three cards in a row */
	padding: 0 10px;
	box-sizing: border-box;

}
  
.row {
	margin: 0 -10px; /* Add negative margin to account for padding */
	display: flex;
	flex-wrap: wrap; /* Allow cards to wrap to the next line */
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  .container {
	padding: 64px;
  }
  
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  .column-66 {
	float: left;
	width: 66.66666%;
	padding: 20px;
  }
  
  .column-33 {
	float: left;
	width: 33.33333%;
	padding: 20px;
  }
  
  .galery{
	text-align: center;
  }
  
  
  img {
	display: block;
	height: auto;
	max-width: 100%;
  }
  
  @media screen and (max-width: 1000px) {
	.column-66,
	.column-33,
	.column {
	  width: 100%;
	  text-align: center;

	}
	
  }
  
  .container-clarity {
	background-color: #f1f1f1;
  }
  
  
  .card{
    height: 400px;
    width: 335px;
    padding: 5px 05px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    border-radius: 20px;
    margin: 10px;
    position: relative;
	display: flex;
    align-items: center;
    overflow: hidden;
	transition: transform 0.3s ease; 
	cursor: pointer; 
   
}
  
  .card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 20px;
  }
  
  .card.expanded {
	transform: scale(1.05);
	box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.25);
	background-color: #fff;
	z-index: 1;
	cursor: pointer;
  }
  




.about-footer {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: flex-end;
	margin-top: 100px;
}
