.contact {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact-header {
	height: 250px;
}

.contact-header-navbar {
	position: absolute;
	right: 2%;
	left: 2%;
	top: 2%;
}

.contact-header-image-container {
	position: absolute;
	height: 250px;
	width: 100%;
	overflow: hidden;
	z-index: -1;
}

.contact-header-image {
	width: 100%;
}

.contact-body {
	padding: 70px;
}

.contact-card-container {
	padding-bottom: 20px;
}

.contact-footer {
	padding: 0;
	margin: 0;
	display: flex;
	align-items: flex-end;
	margin-top: 100px;
}
