.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.home-header {
	height: 400px;
}

.home-header-navbar {
	position: absolute;
	right: 2%;
	left: 2%;
	top: 2%;
}

.home-header-image-container {
	position: absolute;
	height: 400px;
	overflow: hidden;
	z-index: -1;
}

.home-header-image {
	width: 100%;
}

.home-header-container {
	position: absolute;
	top: 10%;
	left: 10%;
	color: white;
	text-shadow: 2px 2px 5px #333;
}

.home-header-logo {
	font-size: 40px;
}

.home-header-title {
	font-size: 60px;
}

.home-header-button {
	padding-top: 20px;
}

.home-header-button button {
	font-size: 20px;
	background-color: transparent;
	border-radius: 10px;
	border: 2px solid white;
	padding: 10px 20px;
	color: white;
	cursor: pointer;
}

.home-search-container {
	margin-top: -40px;
	width: 80%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}

.home-body-search {
	height: 100%;
}
