.search-timetable-container {
	display: flex;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
	
}

.search-timetable-left {
	display: flex;
	align-items: center;
	width: 30%;
	height: 320px;
	background-image: linear-gradient(to bottom left,rgb(171, 181, 218), rgb(119, 135, 182));
}

.search-timetable-right {
	display: flex;
	width: 70%;
	height: 320px;
	background-color: rgb(236, 235, 245);
	border-radius: 10px;
	
}

.search-timetable-left-title {
	font-size: 35px;
	color: white;
	padding-left: 30px;
	padding-right: 30px;
}

.search-timetable-right-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	
	
}

.search-timetable-right-form-container {
	padding-top: 20px;
	padding-bottom: 20px;
}

.search-timetable-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.search-timetable-form-row {
    display: flex;
    justify-content: space-between; /* Distribute items evenly between the two ends */
    align-items: center; /* Vertically align items */
    width: 100%;
    max-width: 650px;
    margin-bottom: 1rem;
}

.search-timetable-form-row button{
	width: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.search-timetable-form-group {
	margin: 0 0.5rem;
	flex: 1;
}

.search-timetable-label {
	display: block;
	margin-bottom: 0.5rem;
	font-weight: none;
}

label{
	text-align: left;
	padding: 0.25rem 0;
}

.search-timetable-select,
.search-timetable-date,
.search-timetable-passengers {
	width: 100%;
	height: 2.1rem;
	padding: 0.5rem;
	font-size: 1rem;
	border: none;
	border-radius: 0.25rem;
	background-color: #ffffff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-timetable-select:focus,
.search-timetable-date:focus,
.search-timetable-passengers:focus {
	outline: none;
	box-shadow: 0 0 0 3px #3c3e3f;
}

.search-timetable-button {
	padding: 0.75rem 1.5rem;
	font-size: 1.25rem;
	border: none;
	border-radius: 0.25rem;
	color: #fff;
	background-color: rgb(119, 135, 182);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	margin-right: -10px;
	margin-top: 30px;
}

.search-timetable-button:hover {
	background-color: rgb(171, 181, 218);
}

.search-timetable-input[id="passengers"] {
	width: 95%;
}

.search-timetable-form-group-left,
.search-timetable-form-group-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align labels to the left */
}

.search-timetable-form-group-right {
    align-items: flex-end; /* Align inputs and button to the right */
}

.search-timetable-select,
.search-timetable-date,
.search-timetable-passengers {
    /* Adjust width as needed for the layout */
    width: 100%;
    height: 2.1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}